# PostgreSQL Database Configuration
DB_HOST=127.0.0.1
DB_USER=postgres
DB_PASSWORD=
DB_NAME=jadwal_pendadaran
DB_PORT=5432

# Server Configuration
PORT=3000
NODE_ENV=development

# CORS Configuration
CORS_ORIGIN=http://localhost:5173
